*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}

/* Estilos del header */

.navbar{
    background-color: #F4C0B8;
}

.navbar-brand{
    background-color: #21274F;
    border-radius: 16px;
    color: white;
    letter-spacing: 3px;
    padding: 5px 15px;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

.nav-link{
    color: #21274F;
    margin: 0px 20px;
    font-size: 20px;
}

/* Estilos del header */

/*   Estilos generales   */

h1{
    font-size: 40px;
}

h2{
    color: #F5ACA6;
    margin-bottom: 20px;
    font-size: 28px;
    word-spacing: 5px;
    font-weight: 500;
}

h3{
    margin-bottom: 30px;
    font-size: 20px;
}

h4{
    font-size: 20px;
    color: #21274F;
}

/*   Estilos generales   */

/* Estilos del main */

.contenedorhome{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #FCEBEA;
}

.principalimage{
    width: 50%;
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imagenhome{
    width: 75%;
    height: auto;
    padding: 8px 0;
}

.principaltext{
    color: #21274F;
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: center;
    margin-top: 5%;
}

.principaltext h3{
        width: 100%;
        text-align: center;
}

.principaltext a{
    background-color: #21274F;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.principaltext a:hover{
    color: #F4C0B8;
}

.principaltext p{
    margin-top: 20px;
    width: 80%;
    font-size: 18px;
    text-align: justify;
}

@media (max-width: 576px) {
    .principalimage{
        width: 100%;
        margin-top: 15%;
    }
    .principaltext{
        width: 100%;
    }
}

@media (max-width: 1000px) and (min-width: 575px) {
    .principaltext{
        margin-top: 80px;
    }
}

/* Estilos del main */

/* Estilos de habilidades y perfil */

.contenedorskills{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #FCEBEA;
}

/* Estilos de habilidades y perfil */

/* Estilos de habilidades */

.skills{
    background-color: #FCEBEA;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 20px;
}

.skills img{
    padding: 8px;
}

.skillsicons {
    margin-bottom: 24px;
}

@media (max-width: 576px) {
    .skills{
        width: 100%;
    }  
}

@media screen and (max-width: 576px) {
    .perfil{
        visibility:hidden;
        /* No se cómo hacer que no ocupe espacio en version mobile */
    }
}


/* Estilos de habilidades */

/* Estilos de perfil */

.perfil{
    background-color: #FCEBEA;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 20px;
}

.perfil h4{
    width: 80%;
    text-align: center;
}

.perfil p{
    font-size: 18px;
    color: #21274F;
    width: 80%;
    text-align: center;
}

/* Estilos de perfil */

/* Estilos de footer */

footer{
    background-color: #21274F;
    height: 50px;
    text-align: center;
    padding: 12px;
}

footer p{
    color: white;
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 3px;
    display: inline-block;
    background-color: #21274F;
}

.redes{
    color: white;
    background-color: #21274F;
    display: inline-block;
}

.redes i{
    padding: 0 5px;
    font: 18px;
    background-color: #21274F;
}

/* Estilos de footer */

/*   Estilos del resumen   */

.formacion{
    background-color: #FCEBEA;
    background-image: none;
    height: 820px;
    width: 50%;
    padding: 60px;
    color: #21274F;
    display: inline-block; 
}

.formacion h2{
    color: #21274F;
    text-align: left;
    margin-top: 30px;
}

.formacion h4{
    margin: 10px 0px;
}

.experiencia{
    padding: 60px;
    height: 820px;
    width: 50%;
    float: right;
    color: #21274F;
}

.experiencia h2{
    color: #21274F;
    text-align: left;
    margin-top: 30px;
}

.experiencia h4{
    margin: 10px 0px;
}

.experiencia p{
    margin-bottom: 40px;
    text-align: justify;
}

.experiencia a{
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    background-color: #21274F;
    border-radius: 10px;
}

.experiencia a:hover{
    color: #F4C0B8;
}

/*   Estilos del resumen   */

/*   Estilos del portafolio   */

.titleporta h1{
    text-align: center;
    background-color: #FCEBEA;
    height: 160px;
    width: 100%;
    padding: 90px 0px 0px 10px;
    color: #21274F;
}

.portafolio{
    background-color: #FCEBEA;
    height: 700px;
    width: 50%;
    color: #21274F;
    display: inline-block;
}

.portafolio h2{
    text-align: left;
    margin-left: 50px;
}

.portafolio h4{
    margin: 30px 0px 0px 50px;
}

.portafolio p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.portafolio div{
    float: right;
    margin: 20px;
}

.portafolio a:hover{
    color: #F4C0B8;
}

.boton1{
    color: #21274F;
    border: 1px solid #21274F;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0px 5px;
}

.boton2{
    color: white;
    background-color: #21274F;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin: 0px 5px;
}

.portafolio img{
    margin: 40px;
}

.portafolioizq{
    background-color: #FCEBEA;
    height: 700px;
    width: 50%;
    color: #21274F;
    float: right;
}

.portafolioizq img{
    margin-left: 20px;
    margin-bottom: 40px;
}

.portafolioizq h2{
    text-align: left;
    margin-left: 50px;
}

.portafolioizq h4{
    margin: 30px 0px 0px 50px;
}

.portafolioizq p{
    margin-left: 50px;
    margin-bottom: 30px;
}

.portafolioizq a:hover{
    color: #F4C0B8;
}

.portafolioizq div{
    float: left;
    margin: 20px 20px 20px 40px;
}

/*   Estilos del portafolio   */

/*   Estilos del reel   */

.reel {
    background-color: #FCEBEA;
    height: 1000px;
    width: 100%;
    padding: 60px 0px;
    color: #21274F;
}

.reel h1{
    margin: 30px auto;
}

.reel h4{
    margin-left: 50px;
    margin-top: 20px;
}

.reel video{
    margin: 0px 50px;
}

.reel p {
    margin: 30px 100px;
    text-align: justify;
}
/*   Estilos del reel   */

/*   Estilos del contacto   */

.contacto{
    background-color: #FCEBEA;
    background-image: none;
    height: 500px;
    width: 50%;
    padding: 60px;
    color: #21274F;
    display: inline-block; 
}

.h5{
    color: #21274F;
}

.contacto ul{
    list-style: none;
    font-size: 18px;
}

.contacto li{
    margin: 10px 0px;
}

.formulario{
    padding: 60px;
    height: 500px;
    width: 50%;
    float: right;
    color: #21274F;
}

.formulario p{
    margin-bottom: 30px;
}

.completo {
    width: 100%;
}

.formulario .botones {
    float: right;
    padding: 15px 0;
}

/*   Estilos del contacto   */